*{
    padding: 0px;
    margin: 0px;
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 69%);
}
#header{
    margin: auto;
    width: 900px;
}
ul, ol{
    list-style: none;
}
.nav li a {
   background-color: aqua;
  color: crimson;
    text-decoration: none;
    padding: 10px 30px;
    display: block;
    text-align: justify;
}
.nav > li{
    float: left;
}
.nav li a:hover {
    background-color: chocolate;
}
h1{
    background-color: cornflowerblue;
    color: gold;
    text-align: center;
    border-radius: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-style: solid ;
    border-color: #000;
    padding: 20px;
}